.todos {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
  }

  &__item {
    background-color: #fefefe;
    border-radius: 7px;
    display: inline-block;
    font-size: 1.875rem;
    padding: 1rem 1rem;
    margin: 0 0 2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}
